
.container{
  padding: 40px;
}
.header {
  margin-bottom: 100px;
  font-size: 2em;
}


.description {
  padding: 40px;
}

.language {
  font-weight: 500;
  color: rgb(15, 77, 134);
  font-size: 24px;
  padding-bottom: 15px;
}
